* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-image: url("banner\ img.png");
    background-position: center;
    background-size: cover;
}

.signup-ct {
    background-color: gold;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
}

.logo-img {
    object-fit: cover;
    width: 120px;
    max-height: 80px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 28px;
    margin-bottom: 50px;
}

li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

li a:hover {
    text-decoration: underline;
}

.header-cont {
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-cont h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    font-weight: 500;
}

.header-cont p {
    color: #fff;
    margin: 50px 0;
    font-size: 21px;
    max-width: 660px;
    text-align: center;
}

.header-cont button {
    background: gold;
    color: black;
    font-size: 20px;
    padding: 12px 36px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.about-us-cont  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 820px;
}

.about-us-hd {
    text-align: center;
}

.about-us-hd h4 {
    font-size: 20px;
    color: silver;
}

.about-us-hd h1 {
    margin: 30px 0;
    font-size: 50px;
}

.about-us-hd p {
    font-size: 19px;
    margin-bottom: 40px;
    max-width: 700px;
}

.about-us-feat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 90px;
    text-align: left;
}

.about-feat-ct h1 {
    font-size: 28px;
    margin: 44px 0 20px 0;
}

.about-feat-ct p {
    font-size: 22px;
    max-width: 400px;
}

.as-seen-ct {
    background-color: black;
    color: #fff;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.as-seen-ct h3 {
    color: silver;
    font-size: 20px;
}

.as-seen-feat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.as-seen-feat p {
    font-size: 24px;
    margin-top: 36px;
}

.quick-start {
    height: 1100px;
}

.quick-start-ct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.quick-start-hd {
    text-align: center;
}

.quick-start-hd h2 {
    font-size: 19px;
    color: silver;
}

.quick-start-hd h1 {
    font-size: 50px;
    margin: 40px 0;
}

.quick-start-hd p {
    font-size: 20px;
    max-width: 640px;
}

.quick-step-ct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px 50px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.quick-step-info h6 {
    font-size: 20px;
}

.quick-step-info h1 {
    font-size: 32px;
}

.quick-step-info p {
    font-size: 18px;
    max-width: 300px;
    margin: 20px 0;
}

.quick-step-info a {
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.quick-step-info a:hover {
    text-decoration: none;
}

.quick-step-info i {
    font-size: 12px;
}

  .people-sy-ct {
        background-color: gold;
        height: 460px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

.people-sy-ct h4 {
    font-size: 19px;
    transform: translate(300px, -75px);
}

.people-sy-cont p {
    font-size: 33px;
    max-width: 650px;
}

.person-ct-info p {
    font-size: 20px;
}

.person-ct {
    display: flex;
    margin-top: 30px;
}

.headshot-mask {
   width: 50px;
   height: 50px;
   overflow: hidden;
   position: relative;
   border-radius: 25px;
   margin-right: 14px;
}

.person-ct img {
    position: absolute;
    height: auto;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pricing-ct {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 900px;
    margin-top: 150px;
}

.pricing-head-ct {
    text-align: center;
}

.pricing-head-ct h2 {
    font-size: 19px;
    color: grey;
}

.pricing-head-ct h1 {
    margin: 20px 0;
    font-size: 48px;
}

.pricing-head-ct p {
    font-size: 20px;
    max-width: 700px;
}

.price-plans-ct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 86px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.price-plans-individual {
    border: 1px solid black;
    padding: 28px;
}

.price-plans-individual h1 {
    font-size: 28px;
}

.price-plans-individual p {
    font-size: 18px;
    max-width: 290px;
    margin: 12px 0;
}

.price-month-ct {
    display: flex;
    margin-top: 24px;
}

.price-month-ct h1 {
    font-size: 38px;
    margin-right: 10px;
}

.price-month-ct p {
    font-size: 20px;
}

.price-plans-individual button {
    margin-top: 24px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 78px;
    border-radius: 28px;
    border: none;
}

.price-plans-individual button:hover {
    background: gold;
    color: black;
    border: none;
}

.plan-outline-ct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 124px;
}

.plan-outline-gd {
    margin-top: 20px;
}

.plan-outline-gd p {
    padding-top: 12px;
    font-size: 18px;
}

.end-para p {
    font-size: 19px;
    text-align: center;
    max-width: 700px;
    margin-top: 60px;
}

.banner-st {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url("women\ wk\ img.png");
    background-position: center;
    background-size: cover;
    margin-top: 180px;
}

.banner-ct {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.banner-cont {
    border: 1px solid #fff;
    padding: 48px 80px 48px 48px;
}

.banner-cont h1 {
    color: #fff;
    font-size: 50px;
}

.banner-cont p {
    color: #fff;
    font-size: 19px;
    margin: 20px 0;
    max-width: 500px;
}

.banner-cont button {
    background: gold;
    color: black;
    padding: 12px 36px;
    outline: none;
    font-size: 20px;
    border-radius: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 12px;
}

.footer-ct {
    background: black;
    height: 500px;
    width: 100%;
}

.footer-cont-ct {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-main-ct {
    margin-right: 90px;
}

.footer-main-ct h1 {
    font-size: 30px;
    color: #fff;
}

.footer-main-ct h5 {
    font-size: 18px;
    margin-top: 5px;
    color: #fff;
}

.footer-main-ct p {
    margin-top: 30px;
    font-size: 18px;
    max-width: 680px;
    color: #fff;
}

.footer-contact-ct h1 {
    font-size: 30px;
    color: #fff;
}

.footer-contact-ct p {
    margin: 12px 0;
    font-size: 18px;
    max-width: 540px;
    color: #fff;
}

.footer-social-links {
    margin-top: 20px;
}

.footer-social-links i {
    margin-right: 10px;
    background: #fff;
    padding: 6px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

.footer-social-links i:hover {
    transform: scale(1.1);
}

.footer-sub-ct {
    margin-top: 30px;
}

.footer-sub-ct input {
    background: grey;
    border: none;
    color: silver;
    padding: 14px 60px 12px 6px;
    border-radius: 16px 0 0 20px;
    cursor: pointer;
    outline: none;
}

.footer-sub-ct button {
    background: gold;
    color: black;
    border: none;
    padding: 13px 20px 12px 14px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 20px 16px 0;
    cursor: pointer;
}

input::placeholder {
    color: #fff;
    padding: 0 0 4px 12px;
    font-size: 14px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media(max-width: 768px) {
    nav {
        padding: 16px 40px;
    }

    .logo-img {
        width: 80px;
        height: 90px;
        transform: translateY(-14px);
    }

    .header-cont p {
        font-size: 19px;
        margin: 28px 0;
    }

    .about-us-hd h4 {
        font-size: 19px;
    }

    .about-us-hd p {
        font-size: 21px;
    }

    .about-us-feat {
        grid-gap: 40px;
        text-align: left;
    }

    .about-feat-ct {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-feat-ct h1 {
        margin-left: 50px;
    }

    .about-feat-ct p {
        max-width: 120px;
    }

    .as-seen-ct {
        height: 300px;
    }

    .as-seen-ct h3 {
        font-size: 19px;
    }

    .as-seen-feat {
        grid-template-columns: repeat(3, 1fr);
    }

    .quick-start-hd h2 {
        font-size: 18px;
    }

    .quick-start-hd p  {
        text-align: center;
        max-width: 700px;
    }

    .quick-step-info p {
        max-width: 155px;
    }

    .quick-step-ct {
        max-width: 700px;
        grid-gap: 60px 40px;
    }

    .people-sy-ct  {
        margin-top: 300px;
    }

    .people-sy-ct h4 {
        transform: translate(2px,-90px);
        font-size: 17px;
        max-width: 150px;
    }

    .people-sy-cont p {
        max-width: 550px;
    }

    .price-plans-individual p {
        max-width: 160px;
    }

    .price-plans-ct {
        grid-gap: 30px;
        max-width: 700px;
    }

    .price-plans-individual h1 {
        max-width: 130px;
    }

    .price-plans-individual button {
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 36px;
    }

    .price-month-ct {
        max-width: 120px;
    }

    .price-month-ct p {
        font-size: 18px;
    }

    .price-month-ct h1 {
        font-size: 36px;
    }

    .plan-outline-ct {
        max-width: 600px;
    }

    .banner-ct {
        margin-top: 560px;
    }

    .banner-cont {
        padding: 40px 130px 40px 40px;
    }

    .banner-cont p {
        font-size: 20px;
        letter-spacing: .5px;
    }

    .banner-cont button {
        font-size: 19px;
    }

    .footer-ct {
        height: 550px;
    }

    .footer-cont-ct {
        padding: 0 24px;
    }

    .footer-sub-ct input {
        padding: 14px 4px 12px 4px;
    }

    .footer-sub-ct button {
        padding: 13px 6px 12px 14px;
    }

}


/* SMALL PHONES */

@media(max-width: 480px) {

    header {
        width: 100%;
    }

    ul li {
            display: none;
        }

    .header-cont h1 {
        font-size: 70px;
        max-width: 400px;
    }

    .header-cont p  {
        max-width: 400px;
    }

    .about-us-hd h1 {
        max-width: 500px;
    }

    .about-us-hd p {
        font-size: 19px;
        max-width: 400px;
        margin-left: 50px;
    }

    .about-us-cont {
        height: 1220px;
    }

    .about-us-feat {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    .about-feat-ct p {
        max-width: 360px;
        font-size: 20px;
    }

    .about-feat-ct h1 {
        margin-left: 0px;
        margin-right: 80px;
    }

    .as-seen-ct {
        height: 370px;
    }

    .as-seen-feat {
        grid-template-columns: repeat(2, 1fr);
    }

    .quick-start {
        height: 1950px;
    }

    .quick-step-ct  {
        display: flex;
        flex-direction: column;
    }

    .quick-step-info p {
        max-width: 350px;
    }

    .quick-step-info h1  {
        font-size: 32px;
        max-width: 700px;
    }

    .quick-start-hd p {
        max-width: 420px;
        margin-left: 16px;
    }

    .people-sy-ct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 560px;
    }

    .people-sy-cont p {
        max-width: 370px;
    }

    .people-sy-ct h4 {
        transform: translate(-108px, -30px);
        max-width: 200px;
    }

    .pricing-ct {
        height: 1300px;
    }

    .price-plans-ct {
        display: flex;
        flex-direction: column;
        grid-gap: 190px;
    }

    .pricing-head-ct p {
        max-width: 430px;
    }

    .price-plans-individual p {
        max-width: 370px;
        font-size: 17px;
    }

    .price-month-ct p {
        max-width: 600px;
    }

    .plan-outline-ct {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .outline-feat-1 {
        transform: translateY(-1070px);
    }

    .outline-feat-2 {
        transform: translateY(-770px);
    }

    .outline-feat-3 {
        transform: translateY(-530px);
    }

    .end-para p {
        transform: translateY(-540px);
        max-width: 500px;
    }

    .banner-ct {
        margin-top: 800px;
    }

    .banner-cont {
        padding: 40px 130px 40px 40px;
        width: 480px;
    }

    .banner-cont h1 {
        font-size: 45px;
    }

    .footer-cont-ct {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 680px;
    }

    .footer-ct {
        height: 700px;
    }

    .footer-main-ct h5 {
        font-size: 16px;
    }

    .footer-sub-ct input {
        padding: 14px 120px 12px 4px;
    }

    .footer-sub-ct button {
        padding: 13px 12px 12px 14px;
    }
}
